@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewData["Title"]</h2>

<h4>The project contains a Car list which can be updated by user and above</h4>
<h4>Although the Countries and Brands are supposed to be blocked for normal user and could only be edited by admin</h4>
<address>
    <strong>Marcin Więckowski </strong><br />
    III year Student of Informatics at University of Gdańsk<br />
</address>

    <address>
        <strong>Email:</strong> <a href="mwieckowski@sigma.ug.edu.pl">mwieckowski@sigma.ug.edu.pl</a><br />
    </address>
